body {
  margin: auto;
  background-color: #65462a;
  height: 640px;
  width: 1024px
}

header {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Coronetscript, cursive,
    color: #00FFFC
}

footer {
    font-size: "20px";
}

p {
  margin-top: 0px;
}

.document {
  margin-top: 25px;
  /* margin-left: 40px;*/ /* Might not need this when I increase the size of background image to 1024 px */
  background: url("../images/background.gif") no-repeat;
  height: 640px
}
